
@{
    ViewBag.Title = "Resume";
}

<h2>Resume</h2>
<div class="page-section" id="resume">
    <div class="row">
        <div class="col-md-12">

            <a href="~/Downloads/Rowe_Resume.pdf"><i class="fa fa-file-pdf-o"></i>PDF Resume</a>
            <br/>
            <a href="https://www.linkedin.com/in/tyler-rowe-12018792"><i class="fa fa-linkedin"></i>LinkedIn</a>

        </div>
    </div>
</div>
